<% currently_at t('menu.topics')%>
<% provide :page_title, t('.title') %>
<h1 class="text-center mb-4"><%= t('.title')%></h1>

<%= render 'form'%> <!--Поиск  файлика с таким названием в текущей дериктории и его отображение -->