<% currently_at t('menu.topics')%>
<% provide :page_title, t('.topic')%>
<h1 class="text-center mb-4"><%= t('.topic') %></h1>

<%= render 'form', tags: @tags %> <!--Поиск  файлика с таким названием в текущей дериктории и его отображение -->
