<% currently_at 'Регистрация'%>
<% provide :page_title, 'Регистрация'%>
<h1 class="text-center mb-4">Регистрация</h1>

<%= render 'form'%> <!--Поиск  файлика с таким названием в текущей дериктории и его отображение -->
